[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Albert Ting <alt@sonic.net>
  #%]

[% PROCESS global/header.html.tmpl
  title = "Adicionar nova Classificação"
%]

<form method=post action="editclassifications.cgi">
  <table border=0 cellpadding=4 cellspacing=0>

    [% PROCESS "admin/classifications/edit-common.html.tmpl" %]

  </table>
  <hr>
  <input type=submit value="Adicionar">
  <input type=hidden name="action" value="novo">
  <input type="hidden" name="token" value="[% token FILTER html %]">
</FORM>

[% PROCESS admin/classifications/footer.html.tmpl %] 

[% PROCESS global/footer.html.tmpl %] 
